.newModels__title {
  font-family: Mont800;
  font-size: 22px;
  line-height: 140%;
  color: var(--primary);
}
.newModels__buttons {
  display: flex;
  gap: 16px;
}
.newModels__button {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid var(--elements);
  background-color: white;
}
.newModels__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
