@mixin on-tablet640 {
  @media (min-width: 640px) {
    @content;
  }
}
@mixin on-desktop1200 {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin grid {
  display: grid;
  place-items: center;
  column-gap: 16px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
}
