.swiper-pagination {
  position: relative !important;
  margin-top: 8px !important;
}
.swiper-pagination-bullet-active {
  background: #313237 !important;
  width: 14px !important;
  height: 4px !important;
  border-radius: 0% !important;
}
.swiper-pagination-bullet {
  width: 14px !important;
  height: 4px !important;
  border-radius: 0% !important;
}
